<div style="position: relative; height: 100%; overflow-x: hidden; background-color: rgb(49, 86, 161);">
    <!-- Profile Section (Top) -->
    <div style="height: 250px;">
        <div class="sidenav-header">
            <img [width]="profilePicSize()" [height]="profilePicSize()"
                src="https://th.bing.com/th/id/OIP.YwA6xGkFItqFcdN8eHm-aAHaHZ?rs=1&pid=ImgDetMain">
            <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
                <h2 style="color: white;">Your Channel</h2>
                <p style="color: white;">Your Name</p>
            </div>
        </div>
    </div>

    <!-- Navigation Section (Fixed Position) -->
    <div style="position: absolute; top: 300px; left: 0; width: 100%;">
        <mat-nav-list>
            <a mat-list-item *ngFor="let item of menuItems()" 
                [routerLink]="item.route" 
                routerLinkActive="active-link"
                #rla="routerLinkActive" 
                [class.active-link]="rla.isActive"
                >
                <mat-icon style="margin-left: 20px; color: white;" matListItemIcon>{{item.icon}}</mat-icon>
                <span style="color: white;">{{item.label}}</span>
            </a>
        </mat-nav-list>
    </div>

    <div style="position: absolute; top: 680px; left: 0; width: 100%;">
        <button mat-icon-button (click)="onLogout()">
            <mat-icon style="color: white; margin-left: 15px;">logout</mat-icon>
        </button>
    </div>
</div>