<mat-sidenav-container style="background-color:whitesmoke;">
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-custom-sidenav 
            (mouseenter)="onSidenavMouseEnter()" 
            (mouseleave)="onSidenavMouseLeave()"
            [collapsed]="collapsed()">
        </app-custom-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>